/* CSS Document */

/* mapeando as fontes pq so preguiçosoa */

@font-face {
    font-family: NF2_tit;
	src: url("fonts/Neutraface-No.-2-Display-Titling_0.woff") format("woff");
}
@font-face {
    font-family: NF2_titMV;
	src: url("fonts/Neutraface-No.-2-Display-Inline_0.woff") format("woff");
}
@font-face {
    font-family: NF2_titB;
    src: url("fonts/Neutraface-No.-2-Text-Bold_0.woff") format("woff");
}
@font-face {
    font-family: NF2_txt;
    src: url("fonts/Neutraface-No.-2-Text-Light_0.woff") format("woff");
}

.fontTitA {
	font-family:"NF2_titMV";
}

.fontTtx {
	font-family:"NF2_txt";
}

.fontTitB {
	font-family:"NF2_titB";
}
/* Scrollbar settings */
/* width */
::-webkit-scrollbar {
    width:0.6vw;
}

/* Track */
::-webkit-scrollbar-track {
    background-color:rgba(154,151,151,0.2);
}
/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #FFBF14;
	box-shadow:0 1px 100px black;
	height:85px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color:#FFDB7D;
}
/* */

#tudo {
	position:relative;
	background-image:url(img/bgtile1.jpg);
	background-blend-mode:multiply;
	background-color:darkgrey;
	background-repeat:repeat;
	padding-top:75px;
	overflow-x: hidden;
	
}
p {
	font-family:"NF2_txt";
	font-size:18px;
	font-weight: 200;
}
h3 {
	font-family:"NF2_titB";
	font-size:50px;
}
h5 {
	font-family:"NF2_titB";
	font-size:80px;
	
}
h1, h2 {
	font-family:"NF2_tit";
}
h4 {
	font-family:"NF2_titB";
}
h1 {
	font-size:50px;
}
h2 {
	font-size:35px;
}
.header1 {
	background-color:#FFBF14;
	border-bottom:solid 1px #FFBF14;
}
.header2 {
	font-family:"NF2_titB";
	background-color:#FFDB7D;
	text-align:center;
	border-bottom:solid 2px #FFBF14;
	top:-2px;
	position:relative;
	font-size:25px;
}
.fixed-top {
	filter:drop-shadow(0 0 5px grey);
}
.carousel-indicators {
    float:right;
    right:-10%;
    left:inherit;
}
.carousel-indicators:hover {
	cursor: pointer;
}
.carousel-indicators--round li {
    border-radius: 10px;
    margin: 1px 3px;
    height: 10px;
    max-width: 10px;
    border: 1px solid #FFF;
    background-color: white;
	filter:drop-shadow(0px 0px 1px black);
}
.carousel-indicators .active {
    background-color: #FFBF14;
	border:0;
    max-width: 12px;
    margin: 0 3px;
    height: 12px;
}
.carousel-innerHeader {
  max-height: 400px !important;
}
.carouselHeader {
	width:100%;
	max-width:100%;
	max-height: 380px;
	margin: 0px auto;
	margin-left:0;
	margin-right:-5px;
}
.carousel-innerArt {
  max-height: 700px !important;
}
.carouselArt {
	width:100%;
	max-width:100%;
	max-height: 500px;
	margin: 0px auto;
	margin-left:0;
	margin-right:-5px;
}
.carousel-control-prev-icon {
	background-image: url(img/assets/arrow_l.svg);
}
.carousel-control-next-icon {
	background-image: url(img/assets/arrow_r.svg);
}
.overlay1, .overlay2, .overlay3  {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1;
  right: 0;
  height: 100%;
  width: 0%;
  opacity: 0;
  transition: .5s ease;
  filter:0;
  cursor:pointer;
}
.overlay1 {
	mix-blend-mode: hue;
}
.overlay2 {
	mix-blend-mode:color-dodge;
}
.overlay3 {
	mix-blend-mode: soft-light;
}
.carousel:hover .overlay1 {
  opacity:0;
	width:100%;
	background-color: blue;
}
.carousel:hover .overlay2 {
  opacity: 0;
	width:100%;
	background-color: purple;
}
.carousel:hover .overlay3 {
  opacity: 0;
	width:100%;
	background-color: yellow;
}
@supports ( mix-blend-mode:hue ) {
	.carousel:hover .overlay1 {
		opacity: 1;
	}
	.carousel:hover .overlay2 {
		opacity: 0.5;
	}
	.carousel:hover .overlay3 {
		opacity: 0.5;
	}
}
.nav-justified {
	white-space: nowrap;
}
h4::before { 
  display: block; 
  content: ""; 
  margin-top: -170px; 
  height: 170px; 
  visibility: hidden; 
  pointer-events: none;
}
.img-fluid {
	padding:0;
}
/*
.carousel-control-prev {
  margin-left: -85px;
}
.carousel-control-next {
  margin-right: -85px;
}*/
.nav-pills .nav-link, .nav-pills .show>.nav-link {
	color:black;
}
.nav-pills .nav-link.hover, .nav-pills .show>.nav-link {
	color:purple;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	color:white;
	background-color:#ffbf14;
}
.nav-pills .nav-link {
	border-radius:0;
	width:100%;
}
.dropdown-menu{
	width:100%;
	text-align:center;
	border-top-left-radius:0;
	border-top-right-radius:0;
	background-color:#ffbf14;
	border:0;
	margin-top:-2px;
}
.dropdown-item:hover {
	background-color:#ffdb7d;
	color:black;
}
a.dropdown-item.active {
	background-color:#ffdb7d;
}
.btn_xs, .btn_nrml {
	border:0;
	font-weight:bolder;
	font-size:22px;
}
.btn_nrml:active, .btn_nrml:hover, .btn_xs:active, .btn_xs:hover {
	background-color:#ffdb7d;
	color:black;
}

@media (max-width: 767.98px) {
	div#menusticky_navbar.container-fluid.navbar1 {
		font-size:12px;
	}
}
div#menusticky_navbar.container-fluid.navbar1 {
	padding-left:0;
	padding-right:0;
}
hr {
	border-width:2px 0;
}

.vert-text2 {
	writing-mode:vertical-rl;
	text-orientation:upright;
}

img {
	display:block;
}

#noticia {
	margin:auto;
}

.nodeco, .nodeco:hover {
	text-decoration:none;
	color:black;
}

.btn-padrao {
	background-color:#ffdb7d;
}
.btn-padrao:hover {
	background-color: #ffbf14;
}

.img-prof {
	width:10vw;
}

.bg-ac-nina {
	background-color:#ffc945;
}

.bg-ac-john {
	background-color:#f47a2d;
}

.bg-ac-miles {
	background-color:#73cbf3;
}

.notgiant {
	font-size:30px;
}

.largo {
	font-size:60px;
	letter-spacing:px;
}
.largo2 {
	font-size:90px;
}
.w-50 {
	width:50%;
}

.sep {
	letter-spacing:15px;
.}

#bgmiles {
	background:url(img/bgmiles.png);
	background-size:100%;
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
}

#bgnina {
	background:url(img/bgnina.png);
	background-size:100%;
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	
}

#bgjohn {
	background:url(img/bgjohn.png);
	background-size:100%;
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	
}



#opaa {
	background:#FFF8F0;
	box-shadow:0 0 20px 1px black;
	padding-left:0;
	padding-right:0;
}

#quasefooter {
	background-color:#fff8f0;
}

#footer {
	background:#303030;
	color:white;
}
.subtitlefont {
	font-size:30px;
}
.vertfont {
	font-size:27px;
}
.mainfont2 {
	font-size:75px;
}
.h3size {
	font-size:50px;
}
.wid250 {
	width:250px;
}
.copyrighttext {
	font-size:11px;
}
.textshadowWhite {
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.previewHovers {
	transition:0.3s;
}
.previewHovers:hover {
	transition:0.3s;
	cursor:pointer;
	filter: brightness(80%);	
}

.previewHovers:active {
	transition:0.1s;
	filter:brightness(150%);
}

.w-15 {
	width:15% !important;
}
.social {
	transition:0.2s;
}
.social:hover {
	filter: invert(100);
	cursor: pointer;
}

.underline {
	text-decoration: underline;
}

.f41size {
	font-size:41px;
}

.f50size {
	font-size:50px;
}

.bg-white-op {
	background-color: rgba(255,248,240,0.75)
}

#songTitleJ, #songTitleN, #songTitleM {
	opacity:0;
	margin-top:-60px;
}

.shadowHover {
	transition:0.2s;
	top:0;
}

.shadowHover:hover {
	box-shadow: 0px 2px 10px 0 rgba(0,0,0,0.2);
	margin-top:-2px;
	cursor:pointer;
}
.shadowHover:Active {
	margin-top:0;
	box-shadow: 0px 2px 5px 0 rgba(0,0,0,0.1);
}

.text-black {
	color:black;
}

.f36size {
	font-size:36px;
}
